.container {
display: flex;
align-items: center;
background-color: #cc092f;
position: relative;
padding-right: 200px;
}

/* Logo */
.logo {
  width: 100px;
  margin-left: 15%;
}

/* Input */
.inputWrapper {
  position: relative;
  margin-left: 100px;
}

.search {
  width: 350px;
  padding: 8px 12px;
  padding-right: 30px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 12px;
  outline: none;
}

.iconButton {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.iconButton img {
  width: 100%;
  height: 100%;
}

/* Ícones da direita */
.rightIcons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.homeButton {
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
}
.homeButton img {
  width: 25px;
  height: 25px;
}

/* Hamburger maior */
.menuButton {
  width: 45px;
  height: 45px;
  background: none;
  border: none;
  cursor: pointer;
}
.menuButton img {
  width: 45px;
  height: 45px;
}

/* MODAL */

.menuOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 998;
}

.menuOverlay.active {
  opacity: 1;
  visibility: visible;
}

/* Menu lateral*/

.menuOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 998;
}

.menuOverlay.active {
  opacity: 1;
  visibility: visible;
}

/* Menu Lateral invisível*/
.menuPanel {
  position: absolute;
  top: 60px; 
  right: 40px; 
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 200px;
  display: none;
  flex-direction: column;
  gap: 12px;
  z-index: 999;
}

/* quando abre */
.menuPanel.active {
  display: flex;
}

.menuPanel a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  padding: 8px;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.menuPanel a:hover {
  background: #f0f0f0;
}